Source: bnirc
Section: unknown
Priority: extra
Maintainer: Brandon Niemczyk <brandon.niemczyk@gmail.com>
Build-Depends: debhelper (>= 7), autotools-dev, libncursesw5-dev, python-dev
Standards-Version: 3.7.3
Homepage: http://sf.net/projects/bnirc

Package: bnirc
Architecture: any
Depends: ${misc:Depends}, libncursesw5, libreadline5, libncurses5, libc6, python2.5
Description: ncurses irc client with python scripting
 bnIRC is a full IRC client and development framework.  For development, 
 all major components are plugins, and many things can be done using 
 the python scripting interface
